<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>關於我們</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./assets/css/main.css" />
    </head>
    <body>
        <div id="header-block"></div>
        <div id="about-banner-block"></div>
        <div id="about-info-block"></div>
        <!-- <div id="about-info-block">
            <div class="about-info">
                <div class="container" id="about-info-app">
                    <template v-for="item in items" :key="item.title">
                        <h2 v-if="item.title_tag === 'h2'">{{ item.title }}</h2>
                        <h3 v-if="item.title_tag === 'h3'">{{ item.title }}</h3>
                        <div class="info-block" v-html="item.content"></div>
                    </template>
                </div>
            </div>
        </div> -->

        <div id="footer-block"></div>
    </body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="./assets/js/about.js"></script>
</html>
