<link rel="stylesheet" href="./assets/css/news-detail-chain.css" />
<div class="news-detail-chain">
    <div class="container">
        <div class="news-detail-chain-inner">
            <div class="prev">
                <a href="#">
                    <div class="chain-nav">上一篇</div>
                    <div class="chain-title">XXX</div>
                </a>
            </div>
            <div class="next">
                <a href="#">
                    <div class="chain-nav">下一篇</div>
                    <div class="chain-title">XXX</div>
                </a>
            </div>
        </div>
    </div>
</div>
