<link rel="stylesheet" href="./assets/css/news-list.css" />
<div class="news-list" id="news-list-app">
    <div class="container">
        <div class="news-list-inner">
            <div class="news-items">
                <template v-for="item in items" :key="item.id">
                    <div>
                        <div class="item-date">{{ item.date }}</div>
                        <h2 class="item-title">{{ item.title }}</h2>
                        <p class="item-content">{{ item.content }}</p>
                        <a :href="`#${item.id}`" class="item-link"
                            >閱讀更多 <i class="fas fa-arrow-right"></i
                        ></a>
                    </div>
                </template>
            </div>
            <div class="news-paginate">
                <a href="#"><i class="fas fa-angle-left"></i></a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#"><i class="fas fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>
