<link rel="stylesheet" href="./assets/css/news-detail-chain.css" />
<div class="news-detail-chain" id="news-detail-chain-app">
    <div class="container">
        <div class="news-detail-chain-inner">
            <div class="prev">
                <a :href="`/news-detail.html?id=${prev.id}`" v-if="prev.id">
                    <div class="chain-nav">上一篇</div>
                    <div class="chain-title">{{ prev.title }}</div>
                </a>
            </div>
            <div class="next">
                <a :href="`/news-detail.html?id=${next.id}`" v-if="next.id">
                    <div class="chain-nav">下一篇</div>
                    <div class="chain-title">{{ next.title }}</div>
                </a>
            </div>
        </div>
    </div>
</div>
