.partner-industry {
    background-color: #fff;
    padding: 6rem 0;
}

.partner-industry .partner-industry-inner h2 {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.partner-industry .partner-industry-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.partner-industry .partner-industry-list > div {
    background: var(--background);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.partner-industry .partner-industry-list > div:hover {
    transform: translateY(-5px);
}

.partner-industry .partner-industry-list i {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.partner-industry .partner-industry-list .name {
    margin-bottom: 10px;
}

.partner-industry .partner-industry-list .description {
    color: #4e4e4e;
}
