.header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 800;
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-list li {
    transition: color 0.3s;
}

.menu-list li:hover {
    color: var(--primary-color);
}

.menu-list li.active {
    color: var(--primary-color);
    position: relative;
}

.menu-list li.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    border-bottom: 2px solid var(--primary-color);
    width: 100%;
}

.mobile-menu-toggle {
    display: none;
}
