.news-detail-chain {
    padding: 4rem 0;
    background-color: #fff;
}

.news-detail-chain .news-detail-chain-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.news-detail-chain .news-detail-chain-inner > div {
    flex: 1;
    padding: 1rem;
    transition: all 0.3s ease;
    font-weight: 500;
}

.news-detail-chain .news-detail-chain-inner > div:hover {
    background-color: var(--section-bg);
    border-radius: 10px;
    transform: translateY(-4px);
    color: var(--primary-color);
}

.news-detail-chain .next {
    text-align: right;
}

.news-detail-chain .chain-nav {
    color: var(--primary-color);
    margin-bottom: 5px;
}
